
:root {
    --main-color: #3498db; 
    --light-gray: #f5f5f5;
    --gray-border: #e0e0e0;
    --dark-gray: #333;
    --white: #ffffff;
    --button-text-color: #333; 
  }
  
.App {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

.header-title{
    max-width: 800px;
    margin: auto;
}